<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS_page/style_page.css">
</head>
<body>
    <header class="header">
    <div class="shopping-cart">
        <div class="box">
            <img src="images_page/watermelon.jpg">
            <div class="content">
                <h3>WATERMELON</h3>
                <span class="price">$5.98/-</span>
                <span class="quantity">Qty : 1</span>
            </div>
            <i class="fa fa-trash"></i>
        </div>
        <div class="box">
            <img src="images_page/apple.jpg" >
            <div class="content">
                <h3>APPLE</h3>
                <span class="price">$5.98/-</span>
                <span class="quantity">Qty : 1</span>
            </div>
            <i class="fa fa-trash"></i>
        </div>
        <div class="box">
            <img src="images_page/banana.jpg">
            <div class="content">
                <h3>BANANA</h3>
                <span class="price">$5.98/-</span>
                <span class="quantity">Qty : 1</span>
            </div>
            <i class="fa fa-trash"></i>
        </div>
        <div class="total">Total : $17.94/-</div>
        <a href="#" class="btn">Checkout</a>
    </div>
    </header>
</body>
</html>